/* logo.component.css */
.title-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .big-m {
    font-size: 6rem; /* Ajustez la taille en fonction de vos besoins */
    color: yellow; /* Couleur du M */
  }
  
  .rest-of-text {
    display: flex;
    flex-direction: column;
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    text-align: left;
  }
  
  .contes-de {
    font-size: 3.5rem; /* Ajustez la taille en fonction de vos besoins */
    color: yellow; /* Couleur du texte "Conte de" */
  }
  
  .minuit {
    font-size: 3rem; /* Ajustez la taille en fonction de vos besoins */
    color: gold; /* Couleur du texte "Minuit" */
  }
  
  /* Ajoutez ici d'autres styles pour le dégradé, le fond, etc. */
