<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!isLoggedIn">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Identifiant" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="'hide'">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-divider></mat-divider>
                <mat-error *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</mat-error>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" type="submit">Login</button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <span *ngIf="isLoggedIn"><button mat-button color="accent">Login success !!</button></span>
        </mat-card-footer>
    </mat-card>
</div>